body {
	margin: 0px;
	padding: 0px;
}

.full {
	clear: both;
}

.link {
	margin-top:200px;
}
.link:hover {
	color: #C96C29;
	cursor: pointer;
}

table.diff {
	font-size: 13px;
	padding-left: 10px;
}

tr.notlikeable .likedislike{
	display: none;
}

.likedislike {
	width: 100px;
	font-weight: bold;
}

.like {
	margin-left: 5px;
}
span.like:hover, span.likeall:hover{
	cursor: pointer;
	text-decoration: underline;
}

.displaynone {
	display:none;
}
.undo {
	margin-left: 5px;
}

span.undo:hover, span.undoall:hover{
	cursor: pointer;
	text-decoration: underline;
}

span.dislike:hover, span.dislikeall:hover{
	cursor: pointer;
	text-decoration: underline;
}

.inline_ld {
	position: absolute;
}
div.ins { 
background: #cfc; 
float: right;
width: 300px;
clear: both;
background: #cfc; 
margin-bottom:3px;
overflow: hidden;
}
div.del { 
background: #fcc; 
margin-bottom:3px;
overflow: hidden;
float: left;
width: 300px;
clear: left;
}

div.mod {
	float: right;
	width: 300px;
	clear: none;
}

div.ins_like {
	background: white;
	float: left;
	clear: both;
}

div.ins_dislike {
	height: 10px;
}

div.mod_dislike {
	height: 10px;
}
div.mod_like {
	float: left;
	clear: both;
}
div.del_like {
	height: 10px;
	float: right;
	clear: both;
}

div.del_dislike {
	background: white;
}


span.ins {
	background: #cfc;
}

span.ins_like {
}

span.ins_dislike {
}

span.del {
	background: #fcc;
}
span.del_like {
}

span.del_dislike {
}

ins, ins p { 
	text-decoration: none;
}
del, del p { 
	text-decoration: none;
}

hr { background: none; border: none; border-top: 2px dotted #000; color: #fff; }

.grayed, .grayed p {
	background: white;  /* what a misnomer */
}

.faded, .faded p {
	background: #EEECEF;
	opacity: 0.4;
}


