body {
	margin: 0px;
	padding: 0px;
}

.help_dropdown {
	border: #3a7d75 10px solid;
	background: #fff;
	height: 250px;
	width: 280px;
	position: absolute;
	margin-left: 300px;
	margin-top: 100px;
	z-index: 100;
	-moz-box-shadow: 10px 10px 50px #3a7d75;
	-webkit-box-shadow: 10px 10px 50px #3a7d75;
	display:none;
	padding: 10px;
}

.full {
	clear: both;
}

.diff_changes {
	width: 200px;
	float: left;
}

.text_body {
	margin: 10px;
	padding: 5px;
	width: 400px;
	height: 400px;
	overflow: auto;
	border: 1px #000 solid;
	float: right;
}

.big_button {
	background: #263033;
	color: #fff;
	font-size: 1.5em; 
	text-shadow: 2px 2px 3px #000000; 
	height: 1.75em;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border: 1px #000; 
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-border-radius: 5px;
	margin: 5px;
}

.change_bubble {
	-moz-border-radius: 5px;
	width: 175px;
	height: 30px;
	overflow: hidden;
	margin: 10px 0px 10px 0px;
}

.bubble_resolved {
	opacity: 0.5;
}

.bubble_spacer {
	width: 175px;
	height: 30px;
	
}

.your_changes_icon {
	background: url(../images/fam_fam_icons/user_green.png) no-repeat #A3F0FA;
	padding-left: 20px;
}

.your_changes {
	/*background: #00ee11;*/
	background: #A3F0FA;
}

.their_changes_icon {
	background: url(../images/fam_fam_icons/user_red.png) no-repeat #FEF38E;
	padding-left: 20px;
}
.their_changes {
	/*background: #ee0011;*/
	background: #FEF38E;
}

.spacer100 {
	width: 100px;
	height: 1px;
	float: left;
}

#save {
	float: left;
}

#cancel {
	float: left;
}

.link {
	margin-top:200px;
}
.link:hover {
	color: #C96C29;
	cursor: pointer;
}

table.diff {
	font-size: 13px;
	padding-left: 10px;
}

tr.notlikeable .likedislike{
	display: none;
}

.likedislike {
	width: 100px;
	font-weight: bold;
}

.like .likeall {
	margin-left: 5px;
}
.like:hover, .likeall:hover{
	cursor: pointer;
	text-decoration: underline;
}

.undo, .undoall{
	margin-left: 5px;
}

.undo:hover, .undoall:hover{
	cursor: pointer;
	text-decoration: underline;
}

.dislike:hover, .dislikeall:hover{
	cursor: pointer;
	text-decoration: underline;
}

.inline_ld {
	position: absolute;
}
.ins { background: #cfc; }
.del { background: #fcc; }
/*
ins { background: #9f9; }
del { background: #f99; }
*/
ins { background: #cfc; }
del { background: #fcc; }
hr { background: none; border: none; border-top: 2px dotted #000; color: #fff; }

.grayed {
	background: #EEECEF;
}

.faded {
	background: #EEECEF;
	opacity: 0.4;
}


