 
 body {
 	background: #FFF1C3;
	font:15px arial,sans-serif;
	color: #263033;
 }
 #header {
	background: #263033;
	color: white;
	width:620px;
 }
 #outer {
	
	width:620px;
	background: #C3E0BC;
	margin-left:auto;
	margin-right:auto;
 }
  #gitdocs {
	padding-top:10px;
	padding-left: 10px;
	font-size:30px;

 }
 
 .page_title {
	padding-left: 10px;
	padding-bottom:10px;
	font-size:18px;
 }
 
 a {
	color: #3A7D75;
 }