 
 body {
 	background: #FFF1C3;
	font:15px arial,sans-serif;
	color: #263033;
 }

 #header {
	background: #263033;
	color: white;
	width:620px;
 }

 #outer {
	
	width:620px;
	background: #C3E0BC;
	margin-left:auto;
	margin-right:auto;
 }
  #gitdocs {
	padding-top:10px;
	padding-left: 10px;
	font-size:30px;

 }

.container {
	margin: 20px;
}
 
 .page_title {
	padding-left: 10px;
	padding-bottom:10px;
	font-size:18px;
 }
 
 a {
	color: #3A7D75;
 }

.box {
	background: #c3e0bc;
	-moz-box-shadow: 3px 3px 5px #3a7d75;
	-webkit-box-shadow: 3px 3px 5px #3a7d75;
	-moz-border-radius: 10px;
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

.box_title {
	-moz-border-radius: 10px 10px 0px 0px;
	background: #C96C29;
	font-weight: bold;
	color: #fff;
	padding: 5px 0px 5px 10px;
}

.box_content {
	padding: 10px;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}