body {
 	/* background: #FFF1C3; */
	background: white;
	font:15px arial,sans-serif;
	color: #263033;
	margin: 0px;
	height: 100%;
 }

.wide_header {
	/* background: #263033; */
	background: #EEECEF;
	color: black;
	padding: 0px 0px 0px 0px;
	height: 65px;
}
.wide_gitdocs {
	padding: 15px 0px 0px 15px;
	font-size:30px;
}

.container {
	margin: 20px;
}
 
.center_container {
	width: 80%;
	margin: auto auto;
}

 .page_title {
/*
	padding-left: 10px;
	padding-bottom:10px;
*/
	font-size:14px;
 }

.selected {
	background: #EEECEF;
}

.selected .comparable {
	color: #EEECEF;
}

td.selectable:hover {
	background: #EEECEF;
	cursor: pointer;
}
td.selectable:hover a.v_name {
	text-decoration: underline;
}

.comparable {
	float: right;
	color: white;
	font-weight: bold;
	font-size: 11px;
	margin-right:5px;
}

td.selectable:hover .comparable {
	color:#263033;
}

 
a {
	color: #263033;
	text-decoration: none;
 }
a:hover {
	text-decoration: underline;
}

.no_line_height {
	line-height:0;
}

.med_text {
	font-size: 12px;r
}

.small_text {
	font-size: 10px;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

.v_name {
	color: #4183C4;
	font-weight: bold;
}
.u_name {
	font-weight: normal;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------
 * Floating Content Boxes 
 ------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.box {
	background: white;
	/* background: #c3e0bc;
	-moz-box-shadow: 3px 3px 5px #3a7d75;
	-webkit-box-shadow: 3px 3px 5px #3a7d75;
	-moz-border-radius: 10px;
*/
	padding: 0px;
	margin: 10px 0px 0px 0px;
}

.box_title {
/*
	-moz-border-radius: 10px 10px 0px 0px;
	background: #C96C29;
	color: #fff;
*/
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 5px 0px 5px 10px;
}

.box_title_unrounded {
	background: #C96C29;
	font-weight: bold;
	color: #fff;
	padding: 5px 0px 5px 10px;
}

.box_content {
	padding: 10px;
}

.box_full {
	background: #263033;
	color: #fff;
	height: 300px;
	clear: both;
}

.headline {
	font-size: 2.5em;
	text-shadow: 2px 2px 3px #000;
}

.headline_blue {
	font-size: 2.5em;
	font-weight: bold;
}

.left_main {
	float: left;
	width: 70%;
	height: 100%;
	
}

.error {
	border: 1px solid #ff0000;
	background: #ffaccb;
	color: #000;
	font-weight: bold;
}

.left_side45 {
	float: left;
	width: 45%;
}

.right_side45 {
	float: right;
	width: 45%;
}

.right_side {
	float: right;
	width: 25%;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

.logged_in_user {
	margin-top: 5px;
	margin-right: 15px;
	font-size: 13px;
}

#import_button {
	float: right;
	padding-top:10px;
}

#form_file {
	padding-top: 25px;
}

.reg_form input[type="text"], .reg_form input[type="password"] {
/*	font-size: 1.5em; */
	width: 150px;
}

.big_form input[type="text"], .big_form input[type="password"] {
	font-size: 1.2em;
	margin: 5px;
}

#signup td {
	text-align: right;
}

.big_form input[type="submit"], button.big {
	margin: 5px;
	background: #2fb81b;
	color: #fff;
	font-size: 1.4em; 
	height: 1.6em;
	font-weight:bold;
	text-shadow: 2px 2px 3px #0914b0; 
	-moz-border-radius: 20px; 
	-webkit-border-radius: 20px;
	border: 1px #000; 
	-moz-box-shadow: 2px 4px 4px #000;
	-webkit-box-shadow: 2px 4px 4px #000;
	cursor: pointer;
}
.reg_form input[type="submit"] {
	background: #263033;
	color: #fff;
/*	font-size: 1.4em; */
	font-weight:bold;
	text-shadow: 2px 2px 3px #000000; 
	height: 2.0em;
	/*
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-border-radius: 5px;
*/
	border: 1px #000; 
}

.clear_fix {
	clear: both;
}