ul.primary { 
                     border-collapse: collapse;
                     padding: 0 0 0 1em; 
                     white-space: nowrap; 
                     list-style: none; 
                     margin: 5px; 
                     height: auto; 
                     line-height: normal; 
                     border-bottom: 1px solid #bbb; 
}

ul.primary li { display: inline; }

ul.primary li a { 
                          background-color: #ddd; 
                          border-color: #bbb; 
                          border-width: 1px; 
                          border-style: solid solid none solid; 
                          height: auto; 
                          margin-right: 0.5em; 
                          padding: 0 1em; 
                          text-decoration: none; 
}

ul.primary li.active a { 
                                     background-color: #fff; 
                                     border: 1px solid #bbb; 
                                     border-bottom: #fff 1px solid;
}

ul.primary li a:hover { 
                                      background-color: #eee; 
                                     border-color: #ccc; 
                                     border-bottom-color: #eee; 
}
